# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# Carthage
Carthage/Build/

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
